<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  https://axelor.com/xml/ns/object-views/object-views_6.0.xsd">
  
	<menuitem title="Product" name="product-root" order="3"/>
	<menuitem title="Product" name="product-root-product" parent="product-root" action="action.product.view.product"/>
	<menuitem title="Product Categories" name="product-root-product-categories" parent="product-root" action="action.product.category.view.product.category"/>
	
	<action-view name="action.product.view.product" title="Products" model="com.axelor.product.db.Product">
		<view type="grid" name="product-grid"/>
		<view type="form" name="product-form"/>
		<view type="cards" name="product-card"/>
	</action-view>
	<action-view name="action.product.category.view.product.category" title="Product categories" model="com.axelor.product.db.ProductCategory">
		<view type="grid" name="product-category-grid"/>
		<view type="form" name="product-category-form"/>
	</action-view>
</object-views>
